<section id="home">
  <div class="main-content">
    <div class="content shadow-1">
      <div id="content" style="background: url(/assets/images/banner.jpg)">
        <h1>Welcome to Futigol</h1>
        <h4 id="phrases">Where dreams come true.</h4>
        <div class="row">
          <a class="smooth">¿Qué es Futigol?</a>
          <a class="smooth">¿Como funciona?</a>
          <a class="smooth" (click)="loginRedirect()">Empezar!</a>
        </div>
      </div>
      <section id="index">
        <div class="container">
          <div class="row" id="welcome-msg">
            <h3>¿Qué es Futigol?</h3>
            <p class="justify">
              Futigol es un marketplace en el que vas a poder encontrar a los servicios ideales para tu evento. No
              importa si es un cumpleaños para chicos, una comida con invitados, una fiesta o si simplemente querés
              recibir gente de una manera original; nosotros cubrimos todas las opciones!
            </p>
            <h4>
              <i class="fa fa-hand-o-right"></i> ¿Querés innovar en tu evento y estás sin ideas?
            </h4>
            <p class="justify">
              En Futigol vas a poder encontrar una gran variedad de servicios para explorar, encontrá al que necesitas
              y sorprendé a tus invitados con la experiencia más divertida.
            </p>
          </div>
          <div class="row" id="about-platform">
            <h3>¿Cómo Funciona?</h3>
            <div class="row" style="width: 100%;">
              <div class="col about-platform-item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <h4 class="card-title">REGISTRATE</h4>
                <p *isDesktop>Creá tu cuenta como jugador.</p>
              </div>
              <div class="col about-platform-item">
                <i class="fa fa-group" aria-hidden="true"></i>
                <h4 class="card-title">FORMÁ</h4>
                <p *isDesktop>Creá el equipo del cual vas a ser capitán.</p>
              </div>
              <div class="col about-platform-item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h4 class="card-title">INVITÁ</h4>
                <p *isDesktop>Cuando seas capitán, vas a poder invitar a tus compañeros de equipo a formar parte.</p>
              </div>
              <div class="col about-platform-item">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <h4 class="card-title">DESAFIÁ</h4>
                <p *isDesktop>Con tu equipo listo, pone fecha y hora para armar un partido contra otro equipo!</p>
              </div>
              <div class="col about-platform-item">
                <i class="fa fa-soccer-ball-o" aria-hidden="true"></i>
                <h4 class="card-title">JUGÁ</h4>
                <p *isDesktop></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row" id="footer">
            <p *isDesktop>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
            <div class="social-links">
              <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a>
              <a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
              <a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://wwww.youtube.com/"><i class="fa fa-youtube-play"></i></a>
              <a target="_blank" href="https://wwww.linkedin.com/"><i class="fa fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
