<div id="register" fxLayout="column" fusePerfectScrollbar>

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title">Registrate</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Apellido" formControlName="lastName">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Número de teléfono" formControlName="phone">
                </mat-form-field>

                <mat-form-field>
                  <mat-select matInput placeholder="Ubicación" formControlName="location" required>
                    <mat-option *ngFor="let option of locations" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select required placeholder="Posición" formControlName="position" required>
                      <mat-option *ngFor="let option of positions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Mail" formControlName="email">
                    <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Mail invalido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirmar contraseña" formControlName="passwordConfirm">
                    <mat-error *ngIf="registerFormErrors.passwordConfirm.passwordsNotMatch">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" [disabled]="registerForm.invalid" (click)="register()">
                    Crear cuenta
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Ya estas registrado?</span>
                <a class="link" (click)="toLogin()">Inicia sesión</a>
            </div>

        </div>

    </div>

</div>
