<div id="calendar" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" [ngClass]="viewDate | date:'MMM'">

    <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">

      <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">

        <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">

          <mat-icon class="logo-icon" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">today</mat-icon>

          <span class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Partidos confirmados</span>

        </div>

      </div>

      <!-- HEADER BOTTOM -->
      <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center"
           *fuseIfOnDom [@animate]="{value:'*',params:{delay:'150ms'}}">

        <button mat-button class="mat-icon-button arrow"
                mwlCalendarPreviousView
                view="month"
                [(viewDate)]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                aria-label="Previous">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="title">
          {{ viewDate | calendarDate:('monthViewTitle'):'en' }}
        </div>

        <button mat-button class="mat-icon-button arrow"
                mwlCalendarNextView
                view="month"
                [(viewDate)]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                aria-label="Next">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <!-- / HEADER BOTTOM -->
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="editEvent('edit', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)">
      </mwl-calendar-month-view>
  </div>
  <!-- / CONTENT -->
</div>
