<div class="panel">
  <div class="margin" *ngIf="!unassignedCategoriesLoaded || !assignedCategoriesLoaded">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="unassignedCategoriesError || assignedCategoriesLoadError || errorUnassigningCategory || assigningCategoryError">
    <blockquote class="card-blockquote">
      <p *ngIf="unassignedCategoriesError">Hubo un error al obtener las categorías desasignadas.</p>
      <p *ngIf="assignedCategoriesLoadError">Hubo un error al obtener las categorías asignadas.</p>
      <p *ngIf="errorUnassigningCategory">Hubo un error al desasignar la categoría.</p>
      <p *ngIf="assigningCategoryError">Hubo un error al asignar la categoría.</p>
    </blockquote>
  </div>
  <div class="row">
    <h3 class="section-title title-margin col-md-6 font-color align-self-center">Categorías en Home</h3>
    <a class="btn plus-size offset-5 align-self-end clickable" (click)="assigningCategory = !assigningCategory;" *ngIf="assignedCategories.length < 8 && unassignedCategories.length > 0">
      <i class="fa fa-check" aria-hidden="true" *ngIf="assigningCategory"></i>
      <i class="fa fa-plus" aria-hidden="true" *ngIf="!assigningCategory"></i>
    </a>
  </div>
  <h4 *ngIf="assignedCategories.length<1 && assignedCategoriesLoaded">No hay categorías asignadas.</h4>
  <div class="margin">
    <table class="table table-striped" *ngIf="assigningCategory">
      <thead>
      <tr>
        <th scope="col">Categoría</th>
        <th scope="col">Agregar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of unassignedCategories; let i = index;">
        <td>{{category.name}}</td>
        <td>
          <a class="btn btn-delete btn-light clickable" (click)="assignCategory(category, i)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row margin" *ngIf="assignedCategories && !assigningCategory">
    <div class="card" *ngFor="let category of assignedCategories; let i = index;">
      <a class="align-self-end clickable" (click)="openDeleteCategoryModal(confirmDeletingCategoryModal, category, i)">
        <i class="fa fa-times fa-2" aria-hidden="true"></i>
      </a>
      <div class="card-body text-center">
        <div class="circle mx-auto">
          <div>
            <i class="{{category.icon}}" aria-hidden="true"></i>
          </div>
        </div>
        <h4 class="card-title">{{category.name}}</h4>
      </div>
    </div>
  </div>
</div>
<div>
  <ng-template #confirmDeletingCategoryModal>
    <div class="modal-body text-center">
      <p>¿Está seguro que desea eliminar la categoría {{categoryToDelete.name}} del homepage?</p>
      <button type="button" class="btn btn-danger" (click)="confirm()">Sí</button>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
  </ng-template>
</div>
