<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0 futigol-green">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <div class="event-form w-100-p" fxLayout="column" fxFlex>

          <div class="info-label">
            <div class="title">Fecha: </div>
            <div class="info">{{event.date}}</div>
          </div>

          <div class="info-label">
            <div class="title">Hora: </div>
            <div class="info">{{event.time}}</div>
          </div>

          <div class="info-label">
            <div class="title">Ubicación: </div>
            <div class="info">{{event.location}}</div>
          </div>
        </div>

    </div>
</div>
