<div class="page-layout carded fullwidth fullheight" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg futigol-green"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div fxLayout="row" class="mt-16 header" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0 white-fg" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Buscá jugadores</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="mx-12 m-md-0"  fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="end center">
        <form class="search-form search-resp" [formGroup]="searchForm">
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Apellido" formControlName="lastName">
          </mat-form-field>
          <mat-form-field>
            <mat-select matInput placeholder="Ubicación" formControlName="location">
              <mat-option>Ninguna</mat-option>
              <mat-option *ngFor="let option of locations" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Posición" formControlName="position">
              <mat-option>Ninguna</mat-option>
              <mat-option *ngFor="let option of positions" [value]="option" >
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button color="accent" (click)="search()">Buscar</button>
        </form>
      </div>
      <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-panel-description *ngIf="dataSource.filteredData.size === 0" class="empty-message">
        No se encontró ningun jugador
      </mat-panel-description>

      <mat-table class="player-table"
                 #table [dataSource]="dataSource"
                 matSort
                 [@animateStagger]="{value:'50'}"
                 fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *cdkCellDef="let player">
            <p class="text-truncate">{{player.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Last name Column -->
        <ng-container cdkColumnDef="lastName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
          <mat-cell *cdkCellDef="let player">
            <p class="category text-truncate">
              {{player.lastName}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Ubicación Column -->
        <ng-container cdkColumnDef="location">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ubicación</mat-header-cell>
          <mat-cell *cdkCellDef="let player">
            <p class="price text-truncate">
              {{player.location}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Posicion Column -->
        <ng-container cdkColumnDef="position">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Posición</mat-header-cell>
          <mat-cell *cdkCellDef="let player">
            <p class="price text-truncate">
              {{player.position}}
            </p>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let player; columns: displayedColumns; let i = index;"
                 class="table-row"
                 matRipple
                 (click)="playerInfo(i)"
        >
        </mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
