<div class="page-layout carded fullwidth" fusePerfectScrollbar>

  <div class="center">

    <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
          [formGroup]="createTeamForm">

      <div class="h2 mb-24">Creá tu equipo</div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Nombre" formControlName="name" required>
          <mat-error *ngIf="createTeamFormErrors.name">
            Nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
            <mat-select matInput placeholder="Ubicación" formControlName="location" required>
              <mat-option *ngFor="let option of locations" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="createTeamFormErrors.location.required">
            Ubicación es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Fútbol" formControlName="size" required>
            <mat-option [value]="'5'">
              5
            </mat-option>
            <mat-option [value]="'7'">
              7
            </mat-option>
            <mat-option [value]="'11'">
              11
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createTeamFormErrors.size.required">
            Nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-button>CANCELAR</button>
      <button mat-button color="accent" (click)="register()" [disabled]="createTeamForm.invalid">CREAR</button>
    </form>
  </div>

</div>
