<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="toggle-button-navbar mat-icon-button"
                    fuseNavbarVertical="toggleBar" fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="logo ml-0 ml-sm-16">
                <img class="logo-icon" src="/assets/images/logo.png">
              </div>
            </div>
        </div>

        <div class="button-container" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

          <div class="name-space">
            <span>{{loggedUser.name}}</span>
          </div>

          <div class="cart-div" fxLayoutAlign="center center">
              <button mat-button class="menu-div" fxLayoutAlign="center center">
                <mat-icon class="icon">person</mat-icon>
              </button>
            </div>

            <div class="logout-div" fxLayoutAlign="center center" (click)="logout()">
              <button mat-button class="menu-div" fxLayoutAlign="center center">
                <mat-icon class="icon">exit_to_app</mat-icon>
              </button>
            </div>
        </div>
    </div>
</mat-toolbar>
