@import 'src/app/core/scss/fuse';

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    background: inherit;
    color: inherit;
    position: relative;

    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
    .logout-div{
      height: 100%;
      width: 100px;
      background-color: red;
      @include media-breakpoint-down('xs') {
        width: 56px;
      }
    }
    .cart-div{
      background-color: rgba(0, 0, 0, 0.69);
      height: 100%;
      width: 100px;
      @include media-breakpoint-down('xs') {
        width: 56px;
      }
    }
    .menu-div{
      height: 100%;
      width: 100%;
    }
    .icon{
      color: white;
      transform: scale(1.3);
      @include media-breakpoint-down('xs') {
        transform: scale(1.0);
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 55px;
      @include media-breakpoint-down('xs') {
        padding-left: 5px;
        width: 56px;
      }
    }
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .quick-panel-toggle-button {
    min-width: 64px;
    height: 64px;

    @include media-breakpoint-down('xs') {
      height: 56px;
    }
  }

  .toggle-button-navbar {
    min-width: 56px;
    height: 56px;
  }

  .name-space{
    @include media-breakpoint-down('xs') {
      font-size: small;
    }
  }
}

.button-container {
  height: 100% !important;
}

.toolbar-container {
  background-color: #ECECEE !important;
  color: rgba(0, 0, 0, 0.87) !important;
  height: 100%;
}

.nav-item {
  height: 100% !important;
}

fuse-navbar-horizontal {
  height: 100% !important;
}

#main-navigation {
  height: 100%!important;
}

fuse-nav-horizontal-item {
  height: 100%!important;

}
