<div class="page-layout carded fullwidth fullheight" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg futigol-green"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Mis equipos</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0"
           fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Buscar">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="teams-table"
                 #table [dataSource]="dataSource"
                 matSort
                 [@animateStagger]="{value:'50'}"
                 fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *cdkCellDef="let team">
            <p class="text-truncate">{{team.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container cdkColumnDef="size">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Fútbol</mat-header-cell>
          <mat-cell *cdkCellDef="let team">
            <p class="category text-truncate">
              {{team.size}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Ubicación Column -->
        <ng-container cdkColumnDef="location">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ubicación</mat-header-cell>
          <mat-cell *cdkCellDef="let team">
            <p class="price text-truncate">
              {{team.location}}
            </p>
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let team; columns: displayedColumns; let i = index;"
                 class="team"
                 matRipple
                 (click)="teamInfo(i)"
        >
        </mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
