<div id="login" fxLayout="column" fusePerfectScrollbar>

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="title">Iniciar Sesión</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>
        <mat-form-field>
          <input matInput placeholder="Mail" formControlName="email" [(ngModel)]="credentials.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" formControlName="password" [(ngModel)]="credentials.password">
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid || loading" (click)="login()">
          <span *ngIf="!loading">INICIAR SESIÓN</span>
          <mat-spinner class="loader mx-auto" [diameter]="35" *ngIf="loading"></mat-spinner>
        </button>
      </form>

      <div class="separator"></div>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">No tenés una cuenta?</span>
        <a class="link" (click)="registerRedirect()">Registrate</a>
      </div>

    </div>

  </div>

</div>
