#team {

  .header {

    .team-image {
      overflow: hidden;
      width: 56px;
      height: 56px;
      border: 3px solid rgba(0, 0, 0, 0.12);

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

    .subtitle {
      margin: 6px 0 0 0;
    }
  }

  .content {

    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content{
      flex: 1 1 auto;
      max-width: 100%;
    }

    .mat-tab-body-content {
      display: flex;
    }

    .mat-tab-label {
      height: 64px;
    }

    .team-image {
      overflow: hidden;
      width: 128px;
      height: 128px;
      margin-right: 16px;
      margin-bottom: 16px;
      border: 3px solid rgba(0, 0, 0, 0.12);

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

  }

}

.fullheight {
  height: 100%;
}

//mat-header-cell {
//  text-align: center;
//}
//
//mat-cell {
//  text-align: center;
//}

.no-padding-top {
  padding-top: 0!important;
}

.search-resp{
  @media (max-width: 840px){
    display: flex!important;
    mat-form-field {
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 8px!important;
      width: 15%;
      place-content:center!important;
    }
    form {
      //width: ;
    }
  }
}

.search-form {
  background-color: #c0c0c0ba;
  border-radius: 10px;
  padding: 10px 5px 4px 10px;
}

mat-form-field {
  width: 25% !important;
}
