<div class="panel">
  <div class="container">
    <h3 class="section-title title-margin font-color">Video Promocional</h3>
    <div>
      <div>
        <div class="row text-center">
          <iframe *ngIf="video.url" width="750" height="375" [src]="video.url | safe"></iframe>
          <h4 class="empty-video" *ngIf="!video.url">Todavia no hay un video promocional</h4>
        </div>
        <div class="row">
          <a class="btn clickable edit-video-button" data-toggle="modal" data-target="#editVideoModal">
            <span>{{ video.url? "Reemplazar" : "Agregar Video"}}</span>
          </a>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar Video Promocional</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="margin videoForm" novalidate [formGroup]="videoFormGroup" (ngSubmit)="updateVideo()">
                <fieldset>
                  <div class="form-group">
                    <input type="text"
                           class="form-control"
                           formControlName="url"
                           [formGroup]="videoFormGroup"
                           placeholder="Url del video"
                           [(ngModel)]="videoUrl"
                           required>
                    <div class="errors pull-left"
                         *ngIf="videoFormGroup.controls.url.errors && (videoFormGroup.controls.url.dirty || videoFormGroup.controls.url.touched)">
                      <p *ngIf="videoFormGroup.controls.url.errors.required">Es requerido</p>
                    </div>
                  </div>
                </fieldset>
                <div *ngIf="videoSuccess" class="alert alert-success" role="alert">
                  Video guardado con éxito
                </div>
                <div *ngIf="videoError" class="alert alert-danger" role="alert">
                  Ha ocurrido un error al guardar el video.
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" #fileInput class="btn btn-secondary" data-dismiss="modal" (click)="videoUrl = ''; addingVideo = false;">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="updateVideo()" [disabled]="videoFormGroup.invalid">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
