.video-buttons{
  margin-top: 20px;
}
.title-margin {
  margin-top: 20px;
}
iframe{
  margin: auto;
}

.edit-video-button{
  font-size: 30px;
  margin: 20px auto auto;
  background-color: lightgray;
}

.errors{
  color: red;
  font-size: 0.75rem;
}

.btn-secondary:hover{
  background-color: #dd0000;
}

.empty-video {
  margin: 100px 0;
  width: 100%;
}
form>.alert {
  width: 100%;
  margin: 0;
  text-align: center;
}

.section-title {
  font-family: HelveticaNeueHeavy!important;
}
